.slider {
  position: relative;
  &__sliderCards {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__sliderCard_margin {
    margin: 0 5%;
  }
  &__pages {
    margin-top: 50px;
    display: flex;
    color: #fff;
    justify-content: center;
  }
  &__page {
    &_margin {
      margin-right: 20px;
    }
  }
  &__percent {
    background: #000;
    border: 3px solid #AA367C;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
    animation: border-transform 4s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
  }
  &__percent_active {
    animation-play-state: running;
    transform: scale(1.3);
    box-shadow: 0 8px 25px #4A2FBD;
  }
}

@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}