
.socialRef {
  background: rgba(217, 217, 217, 0.1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  &::before {
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 45px;
    height: 45px;
    background: #fff;
    transition: 0.3s;
    transform: scale(0);
    scale: 0;
  }
  &:hover::before {
    transform: scale(1);
  }
  img {
    width: 40%;
    transition: 0.3s;
  }
  &:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
}
