.header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;
  &__logo {
    margin-right: 50px;
    img {
      min-width: 60px;
      max-width: 120px;
      width: 100%;
    }
  }
  &__refs {
    display: flex;
    align-items: center;
  }
  &__navigate {
    li {
      margin: 0 25px;
    }
    a {
      color: #fff;
      font-size: 18px;
    }
    &_big {
      display: flex;
      a {
        margin-right: 5px;
      }
    }
    &_opacity {
      a {
        opacity: 0.75;
      }
    }
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  &_scroll {
    background: #121212;
  }
}



