
.banner {
  background: url("../../assets/img/banner-bg.png");
  background-size: cover;
  z-index: -10000;
  & > div {
    padding: 200px 0 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__greeting {
    margin-bottom: 20px;
    span {
      font-weight: 700;
      letter-spacing: 0.8px;
      padding: 8px 10px;
      background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
      border: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 20px;
      color: #fff;
    }
  }
  &__developerInfo {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #fff;
    span {
      border-right: 0.08em solid #666;
    }
  }
  &__info {
    width: 50%;
    p {
      color: #B8B8B8;
      font-size: 18px;
      line-height: 1.5em;
    }
  }
  &__connect {
    &:hover &_circle {
      transform: translateX(10px);
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 60px;
    span {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.8px;
    }
    &_circle {
      transition: 0.5s;
      margin-left: 10px;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
  &__image{
    text-align: center;
    width: 50%;
    margin-left: 50px;
    img {
      max-width: 500px;
      width: 100%;
    }
    animation: slidein 3s linear infinite;
  }
}

@keyframes slidein {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}


@media screen and (max-width: 1000px) {
  .banner {
    &__developerInfo {
      font-size: 40px;
      margin-bottom: 15px;
      color: #fff;
    }
    &__greeting {
      span {
        padding: 5px 7px;
        font-size: 16px;
      }
    }
    &__info {
      p {
        font-size: 14px;
      }
    }
    &__connect {
      margin-top: 40px;
      span {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .banner {
    & > div {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__developerInfo {
      font-size: 40px;
      margin-bottom: 15px;
      color: #fff;
    }
    &__greeting {
      span {
        padding: 5px 7px;
        font-size: 16px;
      }
    }
    &__info {
      width: 100%;
      p {
        font-size: 14px;
      }
    }
    &__connect {
      margin-top: 40px;
      span {
        font-size: 16px;
      }
    }
    &__image {
      width: 100%;
      margin-top: 50px;
      margin-left: 0;
    }
  }
}